.sizeButton{
  width: 100%;
  margin: 1rem 0;
}

.sizeButton > button {
  background-color: white;
  border: solid 0.1rem var(--navy);
  color: var(--navy);
  height: 3rem;
  width: 3.5rem;
  text-decoration: none;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
}

.sizeButton > button:hover {
  background: var(--navy);
  color: var(--white);
}
