.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  border-bottom: 1px solid var(--navy);
  border-top: 1px solid var(--navy);
  background-color: #efefef;
}

.subheader > h2 {
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding-left: 1rem;
}

.subheader > a {
  background: none;
  color: var(--gold);
  border: none;
  cursor: pointer;
  font-size: var(--body);
  padding-right: 2rem;
  letter-spacing: 0.05rem;
}

.subheader--btn > button {
  color: var(--gold);
  border: none;
  cursor: pointer;
  font-size: var(--body);
}
