.cart--dd {
  background-color: #ffffff;
  top: var(--nav-height);
  height: 44rem;
  width: 34rem;
  border: solid 1px var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 2;
  position: absolute;
  right: 0;
}

.cartdd--items {
  height: 24rem;
}

.cartdd--button {
  width: 100%;
  display: block;
  margin-top: auto;
}

