.dropdown {
  width: 100vw;
  margin-bottom: 2rem;
}

.dropdown--wrapper {
  width: 90vw;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  border: solid 1px var(--navy);
  padding: 1rem 1.5rem;
}

.dropdown--wrapper > label {
  background: none;
  color: var(--gold);
  border: none;
  cursor: pointer;
  font-size: var(--body);
  letter-spacing: 0.05rem;
  width: 20vw;
}

.dropdown--selection > select {
  background-color: none;
  color: var(--navy);
  border: none;
  cursor: pointer;
  font-size: var(--body);
  letter-spacing: 0.05rem;
  width: 100%;
}
