
html {
  overflow-x: hidden;
  font-size: 62.5%;
  color: var(--navy);
}

:root {
  --navy: #0c2233;
  --gold: #febe54;
  --white: #faf3f3;
  --max-width: 1170px;
  --fixed-width: 620px;
  --spacing: 0.1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --primary-font: freight-display-pro, serif;
  --secondary-font: freight-neo-pro, sans-serif;
  --nav-height: 7rem;
  --weight: 300;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: freight-neo-pro, sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--navy);
}

@media only screen and (max-width: 600px) {
  :root {
    --heading: 2.5rem;
    --title: 1.9rem;
    --body: 1.4rem;
    --sm-body: 1rem;
  }
}
