.banner {
  width: 100vw;
  height: 20rem;
  display: flex;
  flex-direction: row-reverse;
  z-index: -1;
}

.banner--image {
  width: 100%;
}

.banner--image > img {
  height: 20rem;
  object-fit: cover;
  z-index: -1;
}

.banner--content {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.banner--content > h1 {
  margin-bottom: 1rem;
  letter-spacing: var(--spacing);
}
